@import '../../styles/variables.scss';

.SeeApplicantsContainer {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    top: 0;
}

.SeeApplicantsContainer__div {
    position: relative;
    width: 80%;
    height: 600px;
    background: rgb(255, 255, 255);
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: row;
    border-radius: 10px;
    overflow-y: auto;
    background: radial-gradient(#2df, #d5f);
    padding-top: 20px;
}

.SeeApplicantsContainer__div::-webkit-scrollbar
{
    background: rgba(0, 0, 0, .4);
        height: 8px;
        width: 8px;
        border-radius: 5px;
    }
    
.SeeApplicantsContainer__div::-webkit-scrollbar-thumb {
        background: linear-gradient(#2df, #d5f);
        border-radius: 5px;
    }

.SeeApplicantsContainer__ul {
    width: 80%;
    display: grid;
    margin: 20px;
    border-radius: 10px;
    list-style: none;
    font-family: 'Space Grotesk', sans-serif;
    padding: 10px;
    background: $color3;
    @include media-up(sm){
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 250px;
        height: 500px;
    }
         @include media-up(md) {
             grid-template-columns: 1fr 2fr;
             grid-template-rows: 1fr;
         }
} 

.SeeApplicantsContainer__li--presentation {
    overflow-y: auto;
    @include media-up(md){
    padding-left: 20px;
    padding-right: 20px;
    }
}

.SeeApplicantsContainer__li {
    display: grid;
    gap: 20px;
}
 
