@import '../../styles/variables.scss';

.nav {
    width: 100%;
    
    display: grid;
    @include media-up(sm){
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 130px;
    }
    @include media-up(md) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 70px;
    }
}

.nav__button1 {
    grid-column: 1/2;
    justify-self: center;
    margin-top: 20px;
    @include media-up(sm) {
          grid-column: 1/2;
          grid-row: 1/2;
        }
                @include media-up(md) {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
}

.nav__button3 {
    grid-column: 3/4;
    justify-self: center;
    display: grid;
    place-items: center;
    margin-top: 20px;
    @include media-up(sm) {
            grid-column: 1/2;
            grid-row: 2/3;
        }
                 @include media-up(md) {
                     grid-column: 3/4;
                     grid-row: 1/2;
                 }
}

.nav__button2 {
    grid-column: 4/5;
    justify-self: center;
    margin-top: 20px;
    display: grid;
    justify-items: center;
    align-items: center;
    overflow-x: hidden;
    @include media-up(sm) {
            grid-column: 2/3;
            grid-row: 1/2;
        }
                 @include media-up(md) {
                     grid-column: 4/5;
                     grid-row: 1/2;
                 }
}

.nav__link {
    grid-column: 1/2;
        justify-self: center;
}