@import '../../styles/variables.scss';

.footer {
    display: grid;
    place-items: center;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    background-color: $color3;
    margin-bottom: 50px;
        @include media-up(sm) {
                margin-right: 20px;
                margin-left: 20px;
            }
        
            @include media-up (md) {
                margin-right: 50px;
                margin-left: 50px;
            }
}

.footer__div {
    display: grid;
    justify-items: center;
    margin: 10px;
    text-align: center;
}

.footer__a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: .2s;
}

.footer__a:hover
{
    opacity: .5;
}