@import '../../styles/variables.scss';

.boxError {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.568);
    position: fixed;
    top: 0;
}

.boxError__div {
    position: relative;
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255);
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-auto-flow: row;
    border-radius: 10px;
    animation: error .2s linear 1;
    font-family: 'Space Grotesk', sans-serif;
}


@keyframes error {
    from{
        transform: translateY(-500px);
    }to{
        transform: translateX(0);
    }
}

.boxError__div p {
    text-align: center;
}

.container-imgError {
    width: 80px;
    height: 80px;
}

.container-imgError img {
    width: 100%;
    height: 100%;
}