@import '../../styles/variables.scss';

.container {
    border: solid $color3 10px;
    border-radius: 20px;
    height: 500px;
    display: grid;
    place-items: center;
    font-family: 'Space Grotesk', sans-serif;
    @include media-up(sm) {
        margin-right: 20px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    @include media-up (md) {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 100px;
    }
}

.container__div {
    display: grid;
    justify-items: center;
}

.container__div h1
{
    font-size: 50px;
    letter-spacing: 3px;
    color: $color4;
    text-align: center;
    position: relative;
}

.container__div h1::after
{
    content: '';
    position: absolute;
    bottom: 12px;
    right: -10px;
    width: 3px;
    height: 40px;
    background: $color4;
    animation: animation 1s linear infinite;
}
@keyframes animation {
    to {
        background: transparent;    
    }
}

.container__button {
    display: grid;
    align-items: center;
    gap: 10px;
    @include media-up(sm) {
    grid-auto-flow: row;
    }
    @include media-up(md) {
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

.container__button-inactive {
    display: grid;
        align-items: center;
        justify-content: center;
        justify-items: center;
        gap: 10px;
    
        @include media-up(sm) {
            grid-auto-flow: row;
        }
    
        @include media-up(md) {
            grid-auto-flow: column;
            grid-template-rows: 1fr 1fr;
            justify-items: center;
        }
    }

    .container__button-inactive h2 {
        text-align: center;
        font-family: 'Space Grotesk', sans-serif;
        color: $color4;

    }